#ident  "%Z%%M% %I%     %E% SMI"
# Copyright 2005 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
# /etc/default/keyserv
#
# keyserv default settings processed via keyserv(1M).
#
# ENABLE_NOBODY_KEYS affects whether default keys for nobody are used, see
# keyserv(1M) for details.  The default value is "YES".  A value of "NO"
# (any case) results in disabling of these keys; any other value is
# ignored.
# Copy and uncomment the following default lines to change the values.
ENABLE_NOBODY_KEYS=NO
