#
# Copyright (c) 1992, 2017, Oracle and/or its affiliates. All rights reserved.
#
# Audit Event Database
#
# Purpose:
# Used to map audit events to audit classes for preselection and post-selection.
# Used by programs that write audit records, to preselect audit events
# based on event to class mappings.
#
# File Format:
# event-number:event-name:event-description:event-classes
# (see audit_event(5)).
#
# Length limits:
# Event-name up to 30, event-description up to 50 and the entire configuration
# line up to 256 single byte characters.
#
# Event-numbers:
#     0         Reserved as an invalid event number.
#     1 - 2047  Reserved for the Solaris kernel events.
#  2048 - 65535 Allocated for user level audit events.
#
# Allocation of reserved Solaris kernel events:
# (NOTE: the kernel event table, and possibly MAX_KEVENTS, must be updated
# in audit_kevents.h when changes are made to kernel events.)
#           0           the kernel event table must start with AUE_NULL
#           1 -   511   allocated for Solaris
#         512 -  2047   (reserved but not allocated)
#
# Allocation of user level audit events:
#        2048 -  5999   (reserved but not allocated)
#        6000 -  9999   allocated for Solaris
#       10000 - 32767   (reserved but not allocated)
#       32768 - 65535   (Available for third party applications)
#
# System Adminstrators:
# The event-classes field, a comma separated list of audit classes, (see
# audit_class(5)) may be added to for any event other than those with the "no"
# class.  For changes to take immediate effect, refresh
# svc:/system/auditset:default
# (e.g., svcadm refresh svc:/system/auditset:default).
# Do not comment out or delete events in this file, use the "no" class instead.
#
# Third party developers wishing to use the audit interfaces must contact the
# Solaris Audit team through their Oracle representative.
#
0:AUE_NULL:indir system call:no
1:AUE_EXIT:exit(2):ps
2:AUE_FORKALL:forkall(2):ps
# AUE_OPEN is a placeholder and will not be generated
3:AUE_OPEN:open(2) - place holder:no
4:AUE_CREAT:creat(2):no
5:AUE_LINK:link(2):fc
6:AUE_UNLINK:unlink(2):fd
7:AUE_EXEC:exec(2):no
8:AUE_CHDIR:chdir(2):pm
9:AUE_MKNOD:mknod(2):fc
10:AUE_CHMOD:chmod(2):fm,cis
11:AUE_CHOWN:chown(2):fm,cis
12:AUE_UMOUNT:umount(2) - old version:as
13:AUE_JUNK:junk:no
14:AUE_ACCESS:access(2):fa
15:AUE_KILL:kill(2):pm
16:AUE_STAT:stat(2):fa
17:AUE_LSTAT:lstat(2):fa
18:AUE_ACCT:acct(2):as
19:AUE_MCTL:mctl(2):no
20:AUE_REBOOT:reboot(2):no
21:AUE_SYMLINK:symlink(2):fc
22:AUE_READLINK:readlink(2):no
23:AUE_EXECVE:execve(2):ps,ex
24:AUE_CHROOT:chroot(2):pm,cis
25:AUE_VFORK:vfork(2):ps
26:AUE_SETGROUPS:setgroups(2):pm
27:AUE_SETPGRP:setpgrp(2):pm
28:AUE_SWAPON:swapon(2):no
29:AUE_SETHOSTNAME:sethostname(2):no
30:AUE_FCNTL:fcntl(2):fm
31:AUE_SETPRIORITY:setpriority(2):no
32:AUE_CONNECT:connect(2):nt,cis
33:AUE_ACCEPT:accept(2):nt,cis
34:AUE_BIND:bind(2):nt
35:AUE_SETSOCKOPT:setsockopt(2):nt
36:AUE_VTRACE:vtrace(2):no
37:AUE_SETTIMEOFDAY:settimeofday(2):no
38:AUE_FCHOWN:fchown(2):fm,cis
39:AUE_FCHMOD:fchmod(2):fm,cis
40:AUE_SETREUID:setreuid(2):pm,cis
41:AUE_SETREGID:setregid(2):pm,cis
42:AUE_RENAME:rename(2):fc,fd
43:AUE_TRUNCATE:truncate(2):no
44:AUE_FTRUNCATE:ftruncate(2):no
45:AUE_FLOCK:flock(2):no
46:AUE_SHUTDOWN:shutdown(2):nt
47:AUE_MKDIR:mkdir(2):fc
48:AUE_RMDIR:rmdir(2):fd
49:AUE_UTIMES:utimes(2):fm
50:AUE_ADJTIME:adjtime(2):as
51:AUE_SETRLIMIT:setrlimit(2):ua
52:AUE_KILLPG:killpg(2):no
53:AUE_NFS_SVC:nfs_svc(2):no
54:AUE_STATFS:statfs(2):fa
55:AUE_FSTATFS:fstatfs(2):fa
56:AUE_UNMOUNT:unmount(2):no
57:AUE_ASYNC_DAEMON:async_daemon(2):no
58:AUE_NFS_GETFH:nfs_getfh(2):no
59:AUE_SETDOMAINNAME:setdomainname(2):no
60:AUE_QUOTACTL:quotactl(2):no
61:AUE_EXPORTFS:exportfs(2):no
62:AUE_MOUNT:mount(2):as
# AUE_SEMSYS is a placeholder and will not be generated
63:AUE_SEMSYS:semsys(2) - place holder:no
# AUE_MSGSYS is a placeholder and will not be generated
64:AUE_MSGSYS:msgsys(2) - place holder:no
# AUE_SHMSYS is a placeholder and will not be generated
65:AUE_SHMSYS:shmsys(2) - place holder:no
66:AUE_BSMSYS:bsmsys(2) - place holder:no
67:AUE_RFSSYS:rfssys(2) - place holder:no
68:AUE_FCHDIR:fchdir(2):pm
69:AUE_FCHROOT:fchroot(2):pm,cis
70:AUE_VPIXSYS:vpixsys(2) - place holder:no
71:AUE_PATHCONF:pathconf(2):fa
72:AUE_OPEN_R:open(2) - read:fr
73:AUE_OPEN_RC:open(2) - read,creat:fc,fr
74:AUE_OPEN_RT:open(2) - read,trunc:fd,fr
75:AUE_OPEN_RTC:open(2) - read,creat,trunc:fc,fd,fr
76:AUE_OPEN_W:open(2) - write:fw
77:AUE_OPEN_WC:open(2) - write,creat:fc,fw
78:AUE_OPEN_WT:open(2) - write,trunc:fd,fw
79:AUE_OPEN_WTC:open(2) - write,creat,trunc:fc,fd,fw
80:AUE_OPEN_RW:open(2) - read,write:fr,fw
81:AUE_OPEN_RWC:open(2) - read,write,creat:fc,fw,fr
82:AUE_OPEN_RWT:open(2) - read,write,trunc:fd,fr,fw
83:AUE_OPEN_RWTC:open(2) - read,write,creat,trunc:fc,fd,fw,fr
84:AUE_MSGCTL:msgctl(2) - illegal command:ip
85:AUE_MSGCTL_RMID:msgctl(2) - IPC_RMID command:ip
86:AUE_MSGCTL_SET:msgctl(2) - IPC_SET command:ip
87:AUE_MSGCTL_STAT:msgctl(2) - IPC_STAT command:ip
88:AUE_MSGGET:msgget(2):ip
89:AUE_MSGRCV:msgrcv(2):ip
90:AUE_MSGSND:msgsnd(2):ip
91:AUE_SHMCTL:shmctl(2) - illegal command:ip
92:AUE_SHMCTL_RMID:shmctl(2) - IPC_RMID command:ip
93:AUE_SHMCTL_SET:shmctl(2) - IPC_SET command:ip
94:AUE_SHMCTL_STAT:shmctl(2) - IPC_STAT command:ip
95:AUE_SHMGET:shmget(2):ip
96:AUE_SHMAT:shmat(2):ip
97:AUE_SHMDT:shmdt(2):ip
98:AUE_SEMCTL:semctl(2) - illegal command:ip
99:AUE_SEMCTL_RMID:semctl(2) - IPC_RMID command:ip
100:AUE_SEMCTL_SET:semctl(2) - IPC_SET command:ip
101:AUE_SEMCTL_STAT:semctl(2) - IPC_STAT command:ip
102:AUE_SEMCTL_GETNCNT:semctl(2) - GETNCNT command:ip
103:AUE_SEMCTL_GETPID:semctl(2) - GETPID command:ip
104:AUE_SEMCTL_GETVAL:semctl(2) - GETVAL command:ip
105:AUE_SEMCTL_GETALL:semctl(2) - GETALL command:ip
106:AUE_SEMCTL_GETZCNT:semctl(2) - GETZCNT command:ip
107:AUE_SEMCTL_SETVAL:semctl(2) - SETVAL command:ip
108:AUE_SEMCTL_SETALL:semctl(2) - SETALL command:ip
109:AUE_SEMGET:semget(2):ip
110:AUE_SEMOP:semop(2):ip
111:AUE_CORE:process dumped core:fc
112:AUE_CLOSE:close(2):cl
113:AUE_SYSTEMBOOT:system booted:na
114:AUE_ASYNC_DAEMON_EXIT:async_daemon(2) exited:no
115:AUE_NFSSVC_EXIT:nfssvc(2) exited:no
116:AUE_PFEXEC:execve(2) with pfexec enabled:ps,ex,ua,as,cis
117:AUE_OPEN_S:open(2) - search:fr
118:AUE_OPEN_E:open(2) - exec:fr
119:AUE_SPAWN:spawn(2):ps,ex

130:AUE_GETAUID:getauid(2):aa
131:AUE_SETAUID:setauid(2):aa
132:AUE_GETAUDIT:getaudit(2):aa
133:AUE_SETAUDIT:setaudit(2):aa
134:AUE_GETUSERAUDIT:getuseraudit(2):no
135:AUE_SETUSERAUDIT:setuseraudit(2):no
# AUE_AUDITSVC is a placeholder and will not be generated
136:AUE_AUDITSVC:auditsvc(2) - place holder:no
# AUE_AUDITON is a placeholder and will not be generated
138:AUE_AUDITON:auditon(2) - place holder:no
139:AUE_AUDITON_GTERMID:auditon(2) - GETTERMID command:no
140:AUE_AUDITON_STERMID:auditon(2) - SETTERMID command:no
141:AUE_AUDITON_GPOLICY:auditon(2) - get audit policy flags:aa
142:AUE_AUDITON_SPOLICY:auditon(2) - set audit policy flags:as
143:AUE_AUDITON_GESTATE:auditon(2) - GESTATE command:no
144:AUE_AUDITON_SESTATE:auditon(2) - SESTATE command:no
145:AUE_AUDITON_GQCTRL:auditon(2) - get queue control parameters:as
146:AUE_AUDITON_SQCTRL:auditon(2) - set queue control parameters:as
147:AUE_GETKERNSTATE:getkernstate(2):no
148:AUE_SETKERNSTATE:setkernstate(2):no
149:AUE_GETPORTAUDIT:getportaudit(2):no
150:AUE_AUDITSTAT:auditstat(2):no
153:AUE_ENTERPROM:enter prom:na
154:AUE_EXITPROM:exit prom:na
158:AUE_IOCTL:ioctl(2):io
173:AUE_ONESIDE:one-sided session record:no
174:AUE_MSGGETL:msggetl(2):no
175:AUE_MSGRCVL:msgrcvl(2):no
176:AUE_MSGSNDL:msgsndl(2):no
177:AUE_SEMGETL:semgetl(2):no
178:AUE_SHMGETL:shmgetl(2):no
183:AUE_SOCKET:socket(2):nt
184:AUE_SENDTO:sendto(2):nt
# AUE_PIPE is a potentially very high-volume event, use with caution
185:AUE_PIPE:pipe(2):no
186:AUE_SOCKETPAIR:socketpair(2):no
187:AUE_SEND:send(2):no
188:AUE_SENDMSG:sendmsg(2):nt
189:AUE_RECV:recv(2):no
190:AUE_RECVMSG:recvmsg(2):nt
191:AUE_RECVFROM:recvfrom(2):nt
# AUE_READ is a potentially very high-volume event, use with caution
192:AUE_READ:read(2):no
193:AUE_GETDENTS:getdents(2):no
194:AUE_LSEEK:lseek(2):no
# AUE_WRITE is a potentially very high-volume event, use with caution
195:AUE_WRITE:write(2):no
196:AUE_WRITEV:writev(2):no
197:AUE_NFS:nfs server:no
198:AUE_READV:readv(2):no
199:AUE_OSTAT:old stat(2):no
200:AUE_SETUID:setuid(2):pm,cis
201:AUE_STIME:old stime(2):as
202:AUE_UTIME:old utime(2):no
203:AUE_NICE:old nice(2):pm,cis
204:AUE_OSETPGRP:old setpgrp(2):no
205:AUE_SETGID:old setgid(2):pm,cis
206:AUE_READL:readl(2):no
207:AUE_READVL:readvl(2):no
208:AUE_FSTAT:fstat(2):no
209:AUE_DUP2:dup2(2):no
# AUE_MMAP is a potentially very high-volume event, use with caution
210:AUE_MMAP:mmap(2):no
# AUE_AUDIT is a potentially very high-volume event, use with caution
211:AUE_AUDIT:audit(2):no
212:AUE_PRIOCNTLSYS:priocntlsys(2):pm,cis
213:AUE_MUNMAP:munmap(2):cl
214:AUE_SETEGID:setegid(2):pm,cis
215:AUE_SETEUID:seteuid(2):pm,cis
216:AUE_PUTMSG:putmsg(2):nt
217:AUE_GETMSG:getmsg(2):nt
218:AUE_PUTPMSG:putpmsg(2):nt
219:AUE_GETPMSG:getpmsg(2):nt
# AUE_AUDITSYS is a placeholder and will not be generated
220:AUE_AUDITSYS:audit system calls place holder:no
221:AUE_AUDITON_GETKMASK:auditon(2) - get kernel mask:aa
222:AUE_AUDITON_SETKMASK:auditon(2) - set kernel mask:as
223:AUE_AUDITON_GETCWD:auditon(2) - get current working directory:aa,as
224:AUE_AUDITON_GETCAR:auditon(2) - get current active root:aa,as
225:AUE_AUDITON_GETSTAT:auditon(2) - get audit statistics:no
226:AUE_AUDITON_SETSTAT:auditon(2) - reset audit statistics:no
227:AUE_AUDITON_SETUMASK:auditon(2) - set mask per audit uid:as
228:AUE_AUDITON_SETSMASK:auditon(2) - set mask per session ID:as
229:AUE_AUDITON_GETCOND:auditon(2) - get audit state:aa
230:AUE_AUDITON_SETCOND:auditon(2) - set audit state:as
231:AUE_AUDITON_GETCLASS:auditon(2) - get event class:aa,as
232:AUE_AUDITON_SETCLASS:auditon(2) - set event class:as
233:AUE_FUSERS:utssys(2) - fusers:fa
234:AUE_STATVFS:statvfs(2):fa
235:AUE_XSTAT:xstat(2):no
236:AUE_LXSTAT:lxstat(2):no
237:AUE_LCHOWN:lchown(2):fm,cis
238:AUE_MEMCNTL:memcntl(2):ot
239:AUE_SYSINFO:sysinfo(2):as
240:AUE_XMKNOD:xmknod(2):no
241:AUE_FORK1:fork1(2):ps
# AUE_MODCTL is a placeholder and will not be generated
242:AUE_MODCTL:modctl(2) system call place holder:no
243:AUE_MODLOAD:modctl(2) - load module:as
244:AUE_MODUNLOAD:modctl(2) - unload module:as
# AUE_MODCONFIG is a place holder and will not be generated
245:AUE_MODCONFIG:modctl(2) - no longer generated:no
246:AUE_MODADDMAJ:modctl(2) - bind module:as
247:AUE_SOCKACCEPT:getmsg-accept:nt,cis
248:AUE_SOCKCONNECT:putmsg-connect:nt,cis
249:AUE_SOCKSEND:putmsg-send:nt
250:AUE_SOCKRECEIVE:getmsg-receive:nt
251:AUE_ACLSET:acl(2) - SETACL command:fm,cis
252:AUE_FACLSET:facl(2) - SETACL command:fm,cis
# AUE_DOORFS is a placeholder and will not be generated
253:AUE_DOORFS:doorfs(2) - system call place holder:no
254:AUE_DOORFS_DOOR_CALL:doorfs(2) - DOOR_CALL:ip
255:AUE_DOORFS_DOOR_RETURN:doorfs(2) - DOOR_RETURN:ip
256:AUE_DOORFS_DOOR_CREATE:doorfs(2) - DOOR_CREATE:ip
257:AUE_DOORFS_DOOR_REVOKE:doorfs(2) - DOOR_REVOKE:ip
258:AUE_DOORFS_DOOR_INFO:doorfs(2) - DOOR_INFO:ip
259:AUE_DOORFS_DOOR_CRED:doorfs(2) - DOOR_CRED:ip
260:AUE_DOORFS_DOOR_BIND:doorfs(2) - DOOR_BIND:ip
261:AUE_DOORFS_DOOR_UNBIND:doorfs(2) - DOOR_UNBIND:ip
262:AUE_P_ONLINE:p_online(2):as
263:AUE_PROCESSOR_BIND:processor_bind(2):as
264:AUE_INST_SYNC:inst_sync(2):as
265:AUE_SOCKCONFIG:configure socket:nt
266:AUE_SETAUDIT_ADDR:setaudit_addr(2):aa
267:AUE_GETAUDIT_ADDR:getaudit_addr(2):aa
268:AUE_UMOUNT2:umount2(2):as
# AUE_FSAT and all AUE_OPENAT_* codes are obsolete and will not be generated
269:AUE_FSAT:fsat(2) - place holder:no
270:AUE_OPENAT_R:openat(2) - read:no
271:AUE_OPENAT_RC:openat(2) - read,creat:no
272:AUE_OPENAT_RT:openat(2) - read,trunc:no
273:AUE_OPENAT_RTC:openat(2) - read,creat,trunc:no
274:AUE_OPENAT_W:openat(2) - write:no
275:AUE_OPENAT_WC:openat(2) - write,creat:no
276:AUE_OPENAT_WT:openat(2) - write,trunc:no
277:AUE_OPENAT_WTC:openat(2) - write,creat,trunc:no
278:AUE_OPENAT_RW:openat(2) - read,write:no
279:AUE_OPENAT_RWC:openat(2) - read,write,creat:no
280:AUE_OPENAT_RWT:openat(2) - read,write,trunc:no
281:AUE_OPENAT_RWTC:openat(2) - read,write,creat,trunc:no
282:AUE_RENAMEAT:renameat(2):no
283:AUE_FSTATAT:fstatat(2):no
284:AUE_FCHOWNAT:fchownat(2):no,cis
285:AUE_FUTIMESAT:futimesat(2):no
286:AUE_UNLINKAT:unlinkat(2):no
287:AUE_CLOCK_SETTIME:clock_settime(3RT):as
288:AUE_NTP_ADJTIME:ntp_adjtime(2):as
289:AUE_SETPPRIV:setppriv(2):pm,cis
290:AUE_MODDEVPLCY:modctl(2) - configure device policy:as
291:AUE_MODADDPRIV:modctl(2) - configure additional privilege:as
292:AUE_CRYPTOADM:kernel cryptographic framework:as
# AUE_CONFIGKSSL is obsolete and will not be generated.
293:AUE_CONFIGKSSL:configure kernel SSL - place holder:no
294:AUE_BRANDSYS:brandsys(2):ot
295:AUE_PF_POLICY_ADDRULE:Add IPsec policy rule:as
296:AUE_PF_POLICY_DELRULE:Delete IPsec policy rule:as
297:AUE_PF_POLICY_CLONE:Clone IPsec policy:as
298:AUE_PF_POLICY_FLIP:Flip IPsec policy:as
299:AUE_PF_POLICY_FLUSH:Flush IPsec policy rules:as
300:AUE_PF_POLICY_ALGS:Update IPsec algorithms:as
# AUE_PORTFS is a placeholder and won't be generated.
301:AUE_PORTFS:portfs(2) - file events source - place holder:no
#
302:AUE_LABELSYS_TNRH:tnrh(2) - config TN remote host cache:as
303:AUE_LABELSYS_TNRHTP:tnrhtp(2) - config TN remote host template cache:as
304:AUE_LABELSYS_TNMLP:tnmlp(2) - config TN multi-level port entry:as
#
305:AUE_PORTFS_ASSOCIATE:portfs(2) - file events source - PORT_ASSOCIATE:fa
306:AUE_PORTFS_DISSOCIATE:portfs(2) - file events source - PORT_DISSOCIATE:fa
#
307:AUE_SETSID:setsid(2):pm,cis
308:AUE_SETPGID:setpgid(2):pm,cis
309:AUE_FACCESSAT:faccessat(2):no
310:AUE_AUDITON_GETAMASK:auditon(2) - get default user preselection mask:aa
311:AUE_AUDITON_SETAMASK:auditon(2) - set default user preselection mask:as
312:AUE_AUDITON_GETPINFO:auditon(2) - get process audit info:aa
313:AUE_AUDITON_GETPINFO_ADDR:auditon(2) - get process audit info:aa
314:AUE_AUDITON_SETPMASK:auditon(2) - set process mask:as
315:AUE_AUDITON_GETKAUDIT:auditon(2) - get zone audit info:aa
316:AUE_AUDITON_SETKAUDIT:auditon(2) - set zone audit info:as
317:AUE_SIGQUEUE:sigqueue(3C):pm
318:AUE_CMD_PRIVS:privileged execution:pe
#
# AUE_FILE_READ_ATTRS / AUE_FILE_WRITE_ATTRS are generated
# only for selected per-file accesses.
#
319:AUE_FILE_READ_ATTRS:read file attributes:no
320:AUE_FILE_WRITE_ATTRS:write file attributes:no
321:AUE_REFLINK:reflinkat(2):fc
322:AUE_AUDITON_SETANNOTATION:auditon(2) - set session annotation:aa
#
#
# user level audit events
#       2048 -  6143    Reserved
#
#       6000 -  7999    allocated for Solaris
#
6144:AUE_at_create:at-create atjob:ua
6145:AUE_at_delete:at-delete atjob (at or atrm):ua
6146:AUE_at_perm:at-permission:no
6147:AUE_cron_invoke:cron-invoke:ua
6148:AUE_crontab_create:crontab-crontab created:ua
6149:AUE_crontab_delete:crontab-crontab deleted:ua
6150:AUE_crontab_perm:crontab-persmisson:no
6151:AUE_inetd_connect:inetd connect:na,cis
6152:AUE_login:login - local:lo
6153:AUE_logout:logout:lo
6154:AUE_telnet:login - telnet:lo
6155:AUE_rlogin:login - rlogin:lo
6156:AUE_mountd_mount:mountd(8) mount:na
6157:AUE_mountd_umount:mountd(8) unmount:na
6158:AUE_rshd:rsh access:lo
6159:AUE_su:su:lo
6160:AUE_halt_solaris:halt(8):ss,frcp
6161:AUE_reboot_solaris:reboot(8):ss,frcp
6162:AUE_rexecd:rexecd:lo
6163:AUE_passwd:passwd:lo,ua
6164:AUE_rexd:rexd:lo
6165:AUE_ftpd:ftp access:lo
6166:AUE_init_solaris:init(8):ss,frcp
6167:AUE_uadmin_solaris:uadmin(8):no
6168:AUE_shutdown_solaris:shutdown(1b):no
6169:AUE_poweroff_solaris:poweroff(8):ss,frcp
6170:AUE_crontab_mod:crontab-modify:ua
6171:AUE_ftpd_logout:ftp logout:lo
6172:AUE_ssh:login - ssh:lo
6173:AUE_role_login:role login:lo
6174:AUE_rad_login:connect to RAD:lo
6180:AUE_prof_cmd:profile command:ua,as
# 6181-6199: Obsolete SMC events.  Not generated anymore.
6181:AUE_filesystem_add:add filesystem:no
6182:AUE_filesystem_delete:delete filesystem:no
6183:AUE_filesystem_modify:modify filesystem:no
6184:AUE_network_add:add network attributes:no
6185:AUE_network_delete:delete network attributes:no
6186:AUE_network_modify:modify network attributes:no
6187:AUE_printer_add:add printer:no
6188:AUE_printer_delete:delete printer:no
6189:AUE_printer_modify:modify printer:no
6190:AUE_scheduledjob_add:add scheduled job:no
6191:AUE_scheduledjob_delete:delete scheduled job:no
6192:AUE_scheduledjob_modify:modify scheduled job:no
6193:AUE_serialport_add:add serial port:no
6194:AUE_serialport_delete:delete serial port:no
6195:AUE_serialport_modify:modify serial port:no
6196:AUE_usermgr_add:add user/user attributes:no
6197:AUE_usermgr_delete:delete user/user attributes:no
6198:AUE_usermgr_modify:modify user/user attributes:no
6199:AUE_uauth:authorization used:no
# 6200-6206: Obsolete device allocation events. Not generated anymore.
# Replaced by AUE_da_* events.
6200:AUE_allocate_succ:allocate-device success:no
6201:AUE_allocate_fail:allocate-device failure:no
6202:AUE_deallocate_succ:deallocate-device success:no
6203:AUE_deallocate_fail:deallocate-device failure:no
6205:AUE_listdevice_succ:allocate-list devices success:no
6206:AUE_listdevice_fail:allocate-list devices failure:no
6207:AUE_create_user:create user:no
6208:AUE_modify_user:modify user:no
6209:AUE_delete_user:delete user:no
6210:AUE_disable_user:disable user:no
6211:AUE_enable_user:enable user:no
6212:AUE_newgrp_login:newgrp login:lo
6213:AUE_admin_authenticate:admin login:lo
6214:AUE_kadmind_auth:authenticated kadmind request:no
6215:AUE_kadmind_unauth:unauthenticated kadmind req:no
6216:AUE_krb5kdc_as_req:kdc authentication svc request:no
6217:AUE_krb5kdc_tgs_req:kdc tkt-grant svc request:no
6218:AUE_krb5kdc_tgs_req_2ndtktmm:kdc tgs 2ndtkt mismtch:no
6219:AUE_krb5kdc_tgs_req_alt_tgt:kdc tgs issue alt tgt:no
6220:AUE_smserverd:smserverd:no
6221:AUE_screenlock:screenlock - lock:lo
6222:AUE_screenunlock:screenlock - unlock:lo
6223:AUE_zone_state:zone state change:no
6224:AUE_inetd_copylimit:inetd copylimit:na
6225:AUE_inetd_failrate:inetd failrate:na
6226:AUE_inetd_ratelimit:inetd ratelimit:na
6227:AUE_zlogin:login - zlogin:lo
6228:AUE_su_logout:su logout:lo
6229:AUE_role_logout:role logout:lo
6230:AUE_attach:attach device:ot
6231:AUE_detach:detach device:ot
6232:AUE_remove:remove/eject device:ot
6233:AUE_pool_import:import device into pool:ot
6234:AUE_pool_export:export device from pool:ot
6235:AUE_dladm_create_secobj:create network security object:as,cy
6236:AUE_dladm_delete_secobj:delete network security object:as,cy
6237:AUE_uadmin_shutdown:uadmin(8) - shutdown:ss,frcp
6238:AUE_uadmin_reboot:uadmin(8) - reboot:ss,frcp
6239:AUE_uadmin_dump:uadmin(8) - dump:ss,frcp
6240:AUE_uadmin_freeze:uadmin(8) - freeze:ss,frcp
6241:AUE_uadmin_remount:uadmin(8) - remount:ss
6242:AUE_uadmin_ftrace:uadmin(8) - ftrace:ss
6243:AUE_uadmin_swapctl:uadmin(8) - swapctl:ss
6244:AUE_smbd_session:smbd(8) session setup:lo
6245:AUE_smbd_logoff:smbd(8) session logoff:lo
6246:AUE_vscan_quarantine:vscand(8) quarantine infected file:na
6247:AUE_ndmp_connect:ndmp connect:na
6248:AUE_ndmp_disconnect:ndmp disconnect:na
6249:AUE_ndmp_backup:ndmp backup:na
6250:AUE_ndmp_restore:ndmp restore:na
6251:AUE_cpu_ondemand:set ondemand CPU freq governor:ss
6252:AUE_cpu_performance:set max CPU freq governor:ss
6253:AUE_cpu_threshold:set CPU freq threshold:ss
6254:AUE_uadmin_thaw:uadmin(8) - thaw after freeze:ss,na,frcp
6255:AUE_uadmin_config:uadmin(8) - config:ss
6256:AUE_admin_edit:edit administrative file:as
6257:AUE_admin_file_create:create administrative file:as
6258:AUE_admin_file_remove:remove administrative file:as

#
# smf(7) svc.configd events (svcadm(8) related)
#
6260:AUE_smf_enable:persistently enable service instance:ss
6261:AUE_smf_tmp_enable:temporarily enable service instance:ss
6262:AUE_smf_disable:persistently disable service instance:ss
6263:AUE_smf_tmp_disable:temporarily disable service instance:ss
6264:AUE_smf_restart:restart service instance:ss
6265:AUE_smf_refresh:refresh service instance:ss
6266:AUE_smf_clear:clear service instance state:ss
6267:AUE_smf_degrade:set service instance degraded state:ss
6268:AUE_smf_immediate_degrade:immediately set service instance degraded state:ss
6269:AUE_smf_maintenance:set service instance persistent maintenance state:ss
6270:AUE_smf_immediate_maintenance:immediately set service instance persistent maintenance state:ss
6271:AUE_smf_immtmp_maintenance:immediately set service instance temporary maintenance state:ss
6272:AUE_smf_tmp_maintenance:set service instance maintenance temporary state:ss
6273:AUE_smf_milestone:set service management facility milestone:ss
#
# smf(7) svc.configd miscellaneous events
#
6275:AUE_smf_read_prop:read restricted access property value:as
#
# smf(7) svc.configd events (svccfg(8) related)
#
6274:AUE_smf_delcust:delete customization service instance object:as
6276:AUE_smf_delcust_pg:delete customization persistent service instance property group:as
6277:AUE_smf_delcust_prop:delete customization service instance property:as
6280:AUE_smf_create:create service instance object:as
6281:AUE_smf_delete:delete service instance object:as
6282:AUE_smf_create_pg:create persistent service property group:as
6283:AUE_smf_create_npg:create non-persistent service property group:as
6284:AUE_smf_delete_pg:delete persistent service property group:as
6285:AUE_smf_delete_npg:delete non-persistent service property group:as
6286:AUE_smf_create_snap:create repository snapshot:as
6287:AUE_smf_delete_snap:delete repository snapshot:as
6288:AUE_smf_attach_snap:attach repository snapshot:as
6289:AUE_smf_annotation:annotate transaction:as,ss
6290:AUE_smf_create_prop:create service instance property:as
6291:AUE_smf_change_prop:change service instance property:as
6292:AUE_smf_delete_prop:delete service instance property:as
6293:AUE_smf_unmask_prop:unmask service instance property:as
6294:AUE_smf_remove_prop:remove service instance property:as
6295:AUE_smf_unmask_pg:unmask persistent service property group:as
6296:AUE_smf_remove_pg:remove persistent service property group:as
6297:AUE_smf_unmask:unmask service instance object:as
6298:AUE_smf_remove:remove service instance object:as
6299:AUE_smf_remove_bundle:remove service bundle:as
#
# nwamd(8) events
#
6300:AUE_nwam_enable:enable nwam profile object:ss
6301:AUE_nwam_disable:disable nwam profile object:ss
#
# ilbd(8) events
#
6310:AUE_ilb_create_healthcheck:create ILB health check:as
6311:AUE_ilb_delete_healthcheck:delete ILB health check:as
6312:AUE_ilb_create_rule:create ILB rule:as
6313:AUE_ilb_delete_rule:delete ILB rule:as
6314:AUE_ilb_disable_rule:disable ILB rule:as
6315:AUE_ilb_enable_rule:enable ILB rule:as
6316:AUE_ilb_add_server:add ILB server:as
6317:AUE_ilb_disable_server:disable ILB server:as
6318:AUE_ilb_enable_server:enable ILB server:as
6319:AUE_ilb_remove_server:remove ILB server:as
6320:AUE_ilb_create_servergroup:create ILB server group:as
6321:AUE_ilb_delete_servergroup:delete ILB server group:as
#
# netcfgd(8) events
#
6330:AUE_netcfg_update:create or modify configuration object:ss
6331:AUE_netcfg_remove:remove configuration object from repository:ss
#
# TCSD(8) events
#
6400:AUE_tpm_takeownership:take ownership of TPM:as
6401:AUE_tpm_clearowner:clear ownership of TPM:as
6402:AUE_tpm_setoperatorauth:set TPM operator authorization:as
6403:AUE_tpm_setownerinstall:set TPM ownership flag:as
6404:AUE_tpm_selftestfull:test all TPM protected capabilities:as
6405:AUE_tpm_certifyselftest:perform full TPM self-test:as
6406:AUE_tpm_continueselftest:complete TPM self-test:as
6407:AUE_tpm_ownersetdisable:change the status of TPM disable flag:as
6408:AUE_tpm_ownerclear:perform the clear operation under TPM owner auth:as
6409:AUE_tpm_disableownerclear:disable TPM_OwnerClear command permanently:as
6410:AUE_tpm_forceclear:perform TPM clear operation under physical access:as
6411:AUE_tpm_disableforceclear:disable ForceClear execution until next startup:as
6412:AUE_tpm_physicaldisable:disable TPM physical presence:as
6413:AUE_tpm_physicalenable:enable TPM physical presence:as
6414:AUE_tpm_physicaldeactivate:set TPM deactivated flag:as
6415:AUE_tpm_settempdeactivated:set volatile TPM deactivated flag to TRUE:as
6416:AUE_tpm_settempdeactivated2:set volatile TPM deactivated flag TRUE with auth:as
6417:AUE_tpm_physicalpresence:set the TPM physical presence flag:as
6418:AUE_tpm_fieldupgrade:update TPM protected capabilities:as
6419:AUE_tpm_resetlockvalue:reset TPM failed authorization attempt lock:as
#
# Xorg server events
# These are separate from the traditional Trusted Extensions (TX)
# events because the audit infrastructure is disjoint from TX.
#
6450:AUE_xconnect:X server client connection:xa
6451:AUE_xdisconnect:X server client disconnection:xa
6460:AUE_vnc_connect:VNC server client connection:xa
6461:AUE_vnc_disconnect:VNC server client disconnection:xa
#
# hotplugd(8) events
#
6500:AUE_hotplug_state:change hotplug connection state:ss
6501:AUE_hotplug_set:set hotplug bus private options:ss
6502:AUE_hotplug_install:install hotplug dependents:ss
6503:AUE_hotplug_uninstall:uninstall hotplug dependents:ss
6504:AUE_hotplug_create_port:create hotplug port:ss
6505:AUE_hotplug_remove_port:remove hotplug port:ss
6506:AUE_hotplug_set_ceiling:set hotplug state threshold:ss
6507:AUE_hotplug_clear_ceiling:clear hotplug state threshold:ss

#
# File Transfer events
#
6550:AUE_ft_start:file transfer session start:ft
6551:AUE_ft_stop:file transfer session end:ft
6552:AUE_ft_rename:file transfer rename:ft
6553:AUE_ft_remove:file transfer remove:ft
6554:AUE_ft_mkdir:file transfer mkdir:ft
6555:AUE_ft_rmdir:file transfer rmdir:ft
6556:AUE_ft_symlink:file transfer symlink:ft
6557:AUE_ft_get:file transfer get:ft
6558:AUE_ft_put:file transfer put:ft
6559:AUE_ft_chmod:file transfer chmod:ft
6560:AUE_ft_chown:file transfer chown:ft
6561:AUE_ft_utimes:file transfer utimes:ft

#
# Device Allocation events
#
6600:AUE_da_allocate:device allocation:ot
6601:AUE_da_allocate_forced:forced device allocation:ot
6602:AUE_da_deallocate:device deallocation:ot
6603:AUE_da_deallocate_forced:forced device deallocation:ot
6604:AUE_da_list_devices:list allocatable devices:ot

#
# Other events
#
6650:AUE_sudo:sudo(8) execution:lo,as,ua
6651:AUE_puppet_session_start:start of puppet session execution:ss,as,ua
6652:AUE_puppet_session_end:end of puppet session execution:ss,as,ua

#
# auditd(8) events
#
6655:AUE_audit_start:audit service started:aa,as,frcp
6656:AUE_audit_refresh:audit service refreshed:aa,as,frcp
6657:AUE_audit_stop:audit service terminated:aa,as,frcp
6658:AUE_audit_newfile:audit service created new file:aa,as,frcp

#
# IKEv2 events
#
6660:AUE_ikev2_add_sa:IKEv2 SA session creation:na
6661:AUE_ikev2_rekey_sa:IKEv2 SA rekey:na
6662:AUE_ikev2_delete_sa:IKEv2 SA session deletion:na

#
# Live Zone Reconfiguration
#
6670:AUE_zone_reconf_start:live zone reconfiguration start:ss
6671:AUE_zone_reconf_end:live zone reconfiguration end:ss
6672:AUE_zone_fs_mount:live zone reconfiguration - fs mount:ss
6673:AUE_zone_fs_unmount:live zone reconfiguration - fs unmount:ss
6674:AUE_zone_fs_remount:live zone reconfiguration - fs mount:ss
6675:AUE_zone_ds_add:live zone reconfiguration - add dataset:ss
6676:AUE_zone_ds_remove:live zone reconfiguration - remove dataset:ss
6677:AUE_zone_anet_add:live zone reconfiguration - add anet:ss
6678:AUE_zone_anet_remove:live zone reconfiguration - remove anet:ss
6679:AUE_zone_anet_modify:live zone reconfiguration - modify anet:ss
6680:AUE_zone_net_add:live zone reconfiguration - add net:ss
6681:AUE_zone_net_remove:live zone reconfiguration - remove net:ss
6682:AUE_zone_net_modify:live zone reconfiguration - modify net:ss
6683:AUE_zone_device_add:live zone reconfiguration - add device:ss
6684:AUE_zone_device_remove:live zone reconfiguration - remove device:ss
6685:AUE_zone_capped_mem_set:live zone reconfiguration - set memory cap:ss
6686:AUE_zone_capped_mem_clear:live zone reconfiguration - clear memory cap:ss
6687:AUE_zone_pool_bind:live zone reconfiguration - bind to resource pool:ss
6688:AUE_zone_dedicated_cpu_bind:live zone reconfig - bind to dedicated res pool:ss
6689:AUE_zone_dedicated_cpu_remove:live zone reconfig - remove dedicated res pool:ss
6690:AUE_zone_sched_set:live zone reconfiguration - set scheduler class:ss
6691:AUE_zone_rctl_set:live zone reconfiguration - set resource control:ss
6692:AUE_zone_rctl_clear:live zone reconfiguration - clear resource control:ss
6693:AUE_zone_device_modify:live zone reconfiguration - modify device:ss
6694:AUE_zone_ib_add:live zone reconfiguration - add ib:ss
6695:AUE_zone_ib_remove:live zone reconfiguration - remove ib:ss
6696:AUE_zone_vcpu_set:live zone reconfiguration - set number of vcpu(s):ss
6697:AUE_zone_vf_add:add VF to vnic:ss
6698:AUE_zone_vf_remove:remove VF from vnic:ss

#
# Audit events for RBAC administrative utilities
6700:AUE_auths_add:add new authorization:as
6701:AUE_auths_modify:modify existing authorization:as
6702:AUE_auths_delete:remove existing authorization:as
6703:AUE_profiles_add:add new profile:as
6704:AUE_profiles_modify:modify existing profile:as
6705:AUE_profiles_delete:delete existing profile:as
6706:AUE_passwd_delete:delete password:ua
6707:AUE_passwd_nologin:account cannot be used for login using UNIX auth:ua
6708:AUE_account_lock:lock account:ua
6709:AUE_account_unlock:unlock account:ua
6710:AUE_passwd_min_days:set minimum number of days between passwd changes:ua
6711:AUE_passwd_warn_days:set num. of days before passwd expiry to warn user:ua
6712:AUE_passwd_max_days:set maximum number of days password is valid:ua
6713:AUE_passwd_expire:expire user's password:ua
6714:AUE_passwd_shell:change the login shell:ua
6715:AUE_passwd_gecos:change the gecos (finger) information:ua
6716:AUE_useradd:add new user login to the system:ua
6717:AUE_usermod:modify user's login information on the system:ua
6718:AUE_userdel:delete user's login from the system:ua
6719:AUE_userdel_qattrs:delete qualified attributes from an LDAP user:ua
6720:AUE_roleadd:add new role login to the system:ua
6721:AUE_rolemod:modify role's login information on the system:ua
6722:AUE_roledel:delete role's login from the system:ua
6723:AUE_roledel_qattrs:delete qualified attributes from a role in LDAP:ua
6724:AUE_groupadd:add new group to the system:ua
6725:AUE_groupmod:modify existing group on the system:ua
6726:AUE_groupdel:delete group from the system:ua
#
# Label Administration Events
#
6740:AUE_label_defs_edit:edit label encodings:as
6741:AUE_label_defs_create:create label encodings:as
#
# rpc.smserverd(8) events
# Note: pwd = password, w/ = with
#
6750:AUE_smedia_protect_w_N:media protection-write no pwd to none:ot
6751:AUE_smedia_protect_W_N:media protection-write with pwd to none:ot
6752:AUE_smedia_protect_R_N:media protection-read write with pwd to none:ot
6753:AUE_smedia_protect_N_w:media protection-none to write no pwd:ot
6754:AUE_smedia_protect_N_W:media protection-none to write with pwd:ot
6755:AUE_smedia_protect_w_W:media protection-write no pwd to write with pwd:ot
6756:AUE_smedia_protect_R_W:media protection-read write w/ pwd to write w/ pwd:ot
6757:AUE_smedia_protect_N_R:media protection-none to read write with pwd:ot
6758:AUE_smedia_protect_w_R:media protection-write no pwd to read write w/ pwd:ot
6759:AUE_smedia_protect_W_R:media protection-write w/ pwd to read write w/ pwd:ot
6760:AUE_smedia_protect:set media protection:ot
6761:AUE_smedia_quick_format:quick format media:ot
6762:AUE_smedia_force_format:force format media:ot
6763:AUE_smedia_long_format:long format media:ot

#
# ibmgmtd(8) events
#
6770:AUE_ibmgmtd_create_vhca:create InfiniBand virtual HCA:ss
6771:AUE_ibmgmtd_create_vhca_f:forced create InfiniBand virtual HCA:ss
6772:AUE_ibmgmtd_delete_hca:delete InfiniBand HCA:ss
6773:AUE_ibmgmtd_delete_hca_f:forced delete InfiniBand HCA:ss
6774:AUE_ibmgmtd_set_hcaprop:set InfiniBand HCA properties:ss
6775:AUE_ibmgmtd_set_hcaprop_f:forced set InfiniBand HCA properties:ss
6776:AUE_ibmgmtd_reset_hcaprop:reset InfiniBand HCA properties:ss
6777:AUE_ibmgmtd_reset_hcaprop_f:forced reset InfiniBand HCA properties:ss
6778:AUE_ibmgmtd_enable_iov:enable InfiniBand HCA IOV:ss
6779:AUE_ibmgmtd_enable_iov_f:forced enable InfiniBand HCA IOV:ss
6780:AUE_ibmgmtd_disable_iov:disable InfiniBand HCA IOV:ss
6781:AUE_ibmgmtd_disable_iov_f:forced disable InfiniBand HCA IOV:ss
6782:AUE_ibmgmtd_set_portprop:set InfiniBand vHCA port properties:ss
6783:AUE_ibmgmtd_set_portprop_f:forced set InfiniBand vHCA port properties:ss
6784:AUE_ibmgmtd_reset_portprop:reset InfiniBand vHCA port properties:ss
6785:AUE_ibmgmtd_reset_portprop_f:forced reset InfiniBand vHCA port properties:ss

# nacd(8) events
6786:AUE_nacd_connect:connect a datalink to secured LAN:ss
6787:AUE_nacd_disconnect:disconnect a datalink:ss
6788:AUE_nacd_getstate:get authentication state of a datalink:ss
6789:AUE_nacd_addnet:add network configuration:ss
6790:AUE_nacd_rmnet:remove network configuration:ss
6791:AUE_nacd_getnet:retrieve network configuration:ss
6792:AUE_nacd_getallnet:retrieve names of all networks:ss

# sysadm(8) events
6800:AUE_maintenance_begin:start of maintenance mode:as
6801:AUE_maintenance_end:end of maintenance mode:as

# ksslcfg(1M) events - these are obsolete and will not be generated.
6820:AUE_ksslcfg_create:create kernel SSL instance:no
6821:AUE_ksslcfg_delete:delete kernel SSL instance:no

# Kerberos (KDC) events
6900:AUE_krb5kdc_start:krb5kdc start event:ss
6901:AUE_krb5kdc_stop:krb5kdc stop event:ss
6902:AUE_as_req:krb5kdc as_req request:ap
6903:AUE_tgs_req:krb5kdc tgs_req request:ap
6904:AUE_tgs_s4u2self:krb5kdc tgs_s4u2self request:ap
6905:AUE_tgs_s4u2proxy:krb5kdc tgs_s4u2proxy request:ap
6906:AUE_tgs_u2u:krb5kdc user-to-user requests:ap
6907:AUE_kadmind:kadmind requests:ua

#
# otpadm(1M) events
#
7000:AUE_otp_enable:enable One-Time Password (OTP) authentication:ua
7001:AUE_otp_disable:disable One-Time Password (OTP) authentication:ua
7002:AUE_otp_expunge:expunge One-Time Password (OTP) configuration state:ua
7003:AUE_otp_get_secret:get One-Time Password (OTP) secret:ua
7004:AUE_otp_set_secret:set One-Time Password (OTP) secret:ua
7005:AUE_otp_set_config:set One-Time Password (OTP) configuration:ua

#
# libucrypto(3LIB) events
#
8000:AUE_crypto_deprecated_cipher:use of deprecated crypto cipher:cy
8001:AUE_crypto_disabled_cipher:attempted use of disabled crypto cipher:cy

#
#zones events
#
6802:AUE_zone_install:install a zone:as
6803:AUE_zone_uninstall:uninstall a zone:as
6804:AUE_zone_clone:clone a zone:as
6805:AUE_zone_detach:detach a zone:as
6806:AUE_zone_attach:attach a zone:as
6807:AUE_zone_move:move a zone installation and/or change zonepath:as
6808:AUE_zone_mark:mark state of a zone:as
6809:AUE_zone_savecore:save a core dump of a zone:ss,frcp
6810:AUE_zone_rename:rename a zone:as
6811:AUE_zone_boot:boot a zone:ss,frcp
6812:AUE_zone_reboot:reboot a zone:ss,frcp
6813:AUE_zone_halt:halt a zone:ss,frcp
6814:AUE_zone_migrate_out:live migrate-out a zone:ss,frcp
6815:AUE_zone_set_prom:set OpenBoot variable of a zone:as
6817:AUE_zone_suspend:suspend a zone:ss,frcp
6818:AUE_zone_shutdown:shutdown a zone:ss,frcp
6819:AUE_zone_ready:ready a zone:ss
6820:AUE_zone_create:create a zone:as
6821:AUE_zone_export:export a zone's configuration:as
6822:AUE_zone_cfg_set_zonename:set zonename:as
6823:AUE_zone_cfg_set_zonepath:set zonepath of a zone:as
6824:AUE_zone_cfg_set_autoboot:set autoboot of a zone:as
6825:AUE_zone_cfg_set_autoshutdown:set autoshutdown of a zone:as
6826:AUE_zone_cfg_set_global_time:set global time of a zone:as
6827:AUE_zone_cfg_set_bootargs:set bootargs of a zone:as
6828:AUE_zone_cfg_set_boot_pri:set boot-priority of a zone:as
6829:AUE_zone_cfg_set_limitpriv:set limitpriv of a zone:as
6830:AUE_zone_delete:delete a zone:as
6831:AUE_zone_cfg_set_hostid:set hostid of a zone:as
6832:AUE_zone_cfg_set_fs_allowed:set fs-allowed of a zone:as
6833:AUE_zone_cfg_set_filemacprof:set file-mac-profile of a zone:as
6834:AUE_zone_cfg_set_tenant:set tenant of a zone:as
6835:AUE_zone_cfg_set_ip_type:set ip-type of a zone:as
6836:AUE_zone_migrate_in:live migrate-in a zone:ss,frcp
6837:AUE_zone_unstall:unstall a zone:ss
# AUE_zone_affinity_exclude is obsolete and will not be generated.
6838:AUE_zone_affinity_exclude:set zone affinity excluding CPUs:no
6839:AUE_zone_mount:mount a zone:ss
6940:AUE_zone_unmount:unmount a zone:ss
6941:AUE_zone_sysboot:prepare zone boot:ss
6842:AUE_zone_cfg_add_attr:add attr to a zone:as
6843:AUE_zone_cfg_remove_attr:remove attr of a zone:as
6844:AUE_zone_cfg_add_vcpu:add virtual-cpu to a zone:as
6845:AUE_zone_cfg_modify_vcpu:modify virtual-cpu of a zone:as
6846:AUE_zone_cfg_remove_vcpu:remove virtual-cpu of a zone:as
6947:AUE_zone_cfg_add_smf_dep:add smf-dependency to a zone:as
6948:AUE_zone_cfg_modify_smf_dep:modify smf-dependency of a zone:as
6949:AUE_zone_cfg_remove_smf_dep:remove smf-dependency of a zone:as
6850:AUE_zone_cfg_add_admin:add admin to a zone:as
6851:AUE_zone_cfg_remove_admin:remove admin of a zone:as
6852:AUE_zone_cfg_add_zpool:add zpool to a zone:as
6853:AUE_zone_cfg_remove_zpool:remove zpool of a zone:as
6854:AUE_zone_cfg_add_npiv:add npiv to a zone:as
6855:AUE_zone_cfg_remove_npiv:remove npiv of a zone:as
6856:AUE_zone_cfg_add_vb:add verified-boot to a zone:as
6857:AUE_zone_cfg_modify_vb:modify verified-boot of a zone:as
6858:AUE_zone_cfg_remove_vb:remove verified-boot of a zone:as
6859:AUE_zone_cfg_add_keysource:add keysource to a zone:as
6860:AUE_zone_cfg_add_suspend:add suspend to a zone:as
6861:AUE_zone_cfg_modify_suspend:modify suspend of a zone:as
6862:AUE_zone_cfg_remove_suspend:remove suspend of a zone:as
6863:AUE_zone_cfg_add_rzpool:add rootzpool to a zone:as
6864:AUE_zone_cfg_modify_rzpool:modify rootzpool of a zone:as
6865:AUE_zone_cfg_remove_rzpool:remove rootzpool of a zone:as
6866:AUE_zone_cfg_start: start zone configuration:as
6867:AUE_zone_cfg_end: end zone configuration:as
6868:AUE_zone_cfg_fs_mount:mount fs in a zone:as
6869:AUE_zone_cfg_fs_unmount:unmount fs in a zone:as
6870:AUE_zone_cfg_fs_remount:remount fs in a zone:as
6871:AUE_zone_cfg_ds_add:add dataset to a zone:as
6872:AUE_zone_cfg_ds_remove:remove dataset of a zone:as
6873:AUE_zone_cfg_anet_add:add anet to a zone:as
6874:AUE_zone_cfg_anet_remove:remove anet of a zone:as
6875:AUE_zone_cfg_anet_modify:modify anet of a zone:as
6876:AUE_zone_cfg_net_add:add net to a zone:as
6877:AUE_zone_cfg_net_remove:remove net of a zone:as
6878:AUE_zone_delete_force:force delete a zone:as
6879:AUE_zone_cfg_device_add:add device to a zone:as
6880:AUE_zone_cfg_device_remove:remove device of a zone:as
6881:AUE_zone_cfg_capped_mem_set:set memory cap of a zone:as
6882:AUE_zone_cfg_capped_mem_clear:clear memory cap of a zone:as
6883:AUE_zone_cfg_pool_bind:bind to resource pool:as
6884:AUE_zone_cfg_dcpu_bind:bind to dedicated resource pool:as
6885:AUE_zone_cfg_dcpu_remove:remove dedicated resource pool:as
6886:AUE_zone_cfg_sched_set:set scheduler class of a zone:as
6887:AUE_zone_cfg_rctl_set:set resource control of a zone:as
6888:AUE_zone_cfg_rctl_clear:clear resource control of a zone:as
6889:AUE_zone_cfg_device_modify:modify device of a zone:as
6890:AUE_zone_cfg_ib_add:add ib to a zone:as
6891:AUE_zone_cfg_ib_remove:remove ib of a zone:as
6892:AUE_zone_cfg_modify_zpool:modify zpool of a zone:as
6893:AUE_zone_cfg_modify_npiv:modify npiv of a zone:as
6894:AUE_zone_cfg_modify_admin:modify admin of a zone:as
6895:AUE_zone_cfg_modify_attr:modify attr of a zone:as
6896:AUE_zone_operation:zone operation:as
6897:AUE_zone_mark_aux:mark an auxillary state of a zone:as
6898:AUE_zone_unmark_aux:unmark an auxillary state of a zone:as
# AUE_zone_affinity_include is obsolete and will not be generated.
6899:AUE_zone_affinity_include:set zone affinity including CPUs:no
6900:AUE_zone_info:zone configuration info:as
6901:AUE_zone_stall:stall a zone:as
6902:AUE_zone_resume:resume a zone:as
6903:AUE_zone_detach_force:force detach a zone:as
6904:AUE_zone_attach_force:force attach a zone:as
6905:AUE_zone_uninstall_force:force uninstall a zone:as
6906:AUE_zone_mark_force:force mark state of a zone:as
6907:AUE_zone_cfg_set_mig_class:set migration-class of a zone:as

#
# Trusted Extensions events
# Trusted Extensions desktop was eoled
# Trusted Extensions and file labeling still exists,
# just not the desktop
#
9035:AUE_sl_change:Workspace label change:no
9036:AUE_file_relabel:relabel file:fm,as
9037:AUE_file_copy:file copy:no
9038:AUE_file_move:file move:no
9039:AUE_sel_mgr_xfer:selection manager transfer:no
9040:AUE_print_request:print request:ap
9041:AUE_print_request_ps:print request of postscript data:ap
9042:AUE_print_request_unlabeled:unlabeled print request:ap
9043:AUE_print_request_nobanner:print request without banner page:ap
#
# Obsolete Trusted Extensons X Server events
#
9101:AUE_ClientConnect:client connection to X server:no
9102:AUE_ClientDisconnect:client disconn. from X server:no
9103:AUE_CreateWindow:XCreateWindow(3X11):no
9104:AUE_ChangeWindowAttributes:XChangeWindowAttributes(3X11):no
9105:AUE_GetWindowAttributes:XGetWindowAttributes(3X11):no
9106:AUE_DestroyWindow:XDestroyWindow(3X11):no
9107:AUE_DestroySubwindows:XDestroySubwindows(3X11):no
9108:AUE_ChangeSaveSet:XChangeSaveSet(3X11):no
9109:AUE_ReparentWindow:XReparentWindow(3X11):no
9110:AUE_MapWindow:XMapWindow(3X11):no
9111:AUE_MapSubwindows:XMapSubwindows(3X11):no
9112:AUE_UnmapWindow:XUnmapWindow(3X11):no
9113:AUE_UnmapSubwindows:XUnmapSubwindows(3X11):no
9114:AUE_ConfigureWindow:XConfigureWindow(3X11):no
9115:AUE_CirculateWindow:XCirculateWindow(3X11):no
9116:AUE_GetGeometry:XGetGeometry(3X11):no
9117:AUE_QueryTree:XQueryTree(3X11):no
9118:AUE_InternAtom:XInternAtom(3X11):no
9119:AUE_GetAtomName:XGetAtomName(3X11):no
9120:AUE_ChangeProperty:XChangeProperty(3X11):no
9121:AUE_DeleteProperty:XDeleteProperty(3X11):no
9122:AUE_GetProperty:XGetProperty(3X11):no
9123:AUE_ListProperties:XListProperties(3X11):no
9124:AUE_SetSelectionOwner:XSetSelectionOwner(3X11):no
9125:AUE_GetSelectionOwner:XGetSelectionOwner(3X11):no
9126:AUE_ConvertSelection:XConvertSelection(3X11):no
9127:AUE_SendEvent:XSendEvent(3X11):no
9128:AUE_GrabPointer:XGrabPointer(3X11):no
9129:AUE_UngrabPointer:XUngrabPointer(3X11):no
9130:AUE_GrabButton:XGrabButton(3X11):no
9131:AUE_UngrabButton:XUngrabButton(3X11):no
9132:AUE_ChangeActivePointerGrab:XChangeActivePointerGrab(3X11):no
9133:AUE_GrabKeyboard:XGrabKeyboard(3X11):no
9134:AUE_UngrabKeyboard:XUngrabKeyboard(3X11):no
9135:AUE_GrabKey:XGrabKey(3X11):no
9136:AUE_UngrabKey:XUngrabKey(3X11):no
9137:AUE_GrabServer:XGrabServer(3X11):no
9138:AUE_UngrabServer:XUngrabServer(3X11):no
9139:AUE_QueryPointer:XQueryPointer(3X11):no
9140:AUE_GetMotionEvents:XGetMotionEvents(3X11):no
9141:AUE_TranslateCoords:XTranslateCoords(3X11):no
9142:AUE_WarpPointer:XWarpPointer(3X11):no
9143:AUE_SetInputFocus:XSetInputFocus(3X11):no
9144:AUE_GetInputFocus:XGetInputFocus(3X11):no
9145:AUE_QueryKeymap:XQueryKeymap(3X11):no
9146:AUE_SetFontPath:XSetFontPath(3X11):no
9147:AUE_FreePixmap:XFreePixmap(3X11):no
9148:AUE_ChangeGC:XChangeGC(3X11):no
9149:AUE_CopyGC:XCopyGC(3X11):no
9150:AUE_SetDashes:XSetDashes(3X11):no
9151:AUE_SetClipRectangles:XSetClipRectangles(3X11):no
9152:AUE_FreeGC:XFreeGC(3X11):no
9153:AUE_ClearArea:XClearArea(3X11):no
9154:AUE_CopyArea:XCopyArea(3X11):no
9155:AUE_CopyPlane:XCopyPlane(3X11):no
9156:AUE_PolyPoint:XPolyPoint(3X11):no
9157:AUE_PolyLine:XPolyLine(3X11):no
9158:AUE_PolySegment:XPolySegment(3X11):no
9159:AUE_PolyRectangle:XPolyRectangle(3X11):no
9160:AUE_PolyArc:XPolyArc(3X11):no
9161:AUE_FillPolygon:XFillPolygon(3X11):no
9162:AUE_PolyFillRectangle:XPolyFillRectangle(3X11):no
9163:AUE_PolyFillArc:XPolyFillArc(3X11):no
9164:AUE_PutImage:XPutImage(3X11):no
9165:AUE_GetImage:XGetImage(3X11):no
9166:AUE_PolyText8:XPolyText8(3X11):no
9167:AUE_PolyText16:XPolyText16(3X11):no
9168:AUE_ImageText8:XImageText8(3X11):no
9169:AUE_ImageText16:XImageText16(3X11):no
9170:AUE_CreateColormap:XCreateColormap(3X11):no
9171:AUE_FreeColormap:XFreeColormap(3X11):no
9172:AUE_CopyColormapAndFree:XCopyColormapAndFree(3X11):no
9173:AUE_InstallColormap:XInstallColormap(3X11):no
9174:AUE_UninstallColormap:XUninstallColormap(3X11):no
9175:AUE_ListInstalledColormaps:XListInstalledColormaps(3X11):no
9176:AUE_AllocColor:XAllocColor(3X11):no
9177:AUE_AllocNamedColor:XAllocNamedColor(3X11):no
9178:AUE_AllocColorCells:XAllocColorCells(3X11):no
9179:AUE_AllocColorPlanes:XAllocColorPlanes(3X11):no
9180:AUE_FreeColors:XFreeColors(3X11):no
9181:AUE_StoreColors:XStoreColors(3X11):no
9182:AUE_StoreNamedColor:XStoreNamedColor(3X11):no
9183:AUE_QueryColors:XQueryColors(3X11):no
9184:AUE_LookupColor:XLookupColor(3X11):no
9185:AUE_CreateCursor:XCreateCursor(3X11):no
9186:AUE_CreateGlyphCursor:XCreateGlyphCursor(3X11):no
9187:AUE_FreeCursor:XFreeCursor(3X11):no
9188:AUE_RecolorCursor:XRecolorCursor(3X11):no
9189:AUE_ChangeKeyboardMapping:XChangeKeyboardMapping(3X11):no
9190:AUE_ChangeKeyboardControl:XChangeKeyboardControl(3X11):no
9191:AUE_Bell:XBell(3X11):no
9192:AUE_ChangePointerControl:XChangePointerControl(3X11):no
9193:AUE_SetScreenSaver:XSetScreenSaver(3X11):no
9194:AUE_ChangeHosts:XChangeHosts(3X11):no
9195:AUE_SetAccessControl:XSetAccessControl(3X11):no
9196:AUE_SetCloseDownMode:XSetCloseDownMode(3X11):no
9197:AUE_KillClient:XKillClient(3X11):no
9198:AUE_RotateProperties:XRotateProperties(3X11):no
9199:AUE_ForceScreenSaver:XForceScreenSaver(3X11):no
9200:AUE_SetPointerMapping:XSetPointerMapping(3X11):no
9201:AUE_SetModifierMapping:XSetModifierMapping(3X11):no
9202:AUE_XExtensions:X server extensions:no
